.video-container {
  max-width: 800px;
  margin: 0 auto;
}

video {
  width: 100%;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005D7C;
  cursor: pointer;
}
